{% extends 'base.html.twig' %}
{% set modepreference = preference %}

<!DOCTYPE html>

<html>
  {% block content %}

    <div class="container-fluid text-center">
      <h2>
        Historique de logs
      </h2>

      
      {% include 'Components/headerDashboard.html.twig' %}


      <table class="table">
        <thead>
          <tr>
              logs :
          </tr>
        </thead>
        <tbody>
            {% for logs in logsList %}
            <tr>
              <td>
              {% for log in logs %}
                <td>
                  {{ log }}
                </td>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
        </tbody>

        {% include 'Components/sidemenu.html.twig' %}


    </div>

  {% endblock %}
</html>