{% extends 'base.html.twig' %}
{% set modepreference = preference %}

<!DOCTYPE html>

<html>
  {% block content %}

    <div class="container-fluid text-center">
      <h2>
        Historique de logs
      </h2>


      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formcontact">formulaire de contacts</a>
        </li>
        <li calss="nav-item">
          <a class="nav-link" href="/showcruds">CRUDs</a>
        </li>
        <li calss="nav-item">
          <a class="nav-link" href="/apimanagement">API</a>
        </li>
      </ul>

      <table class="table">
        <thead>
          <tr>
              logs :
          </tr>
        </thead>
        <tbody>
            {% for logs in logsList %}
            <tr>
              <td>
              {% for log in logs %}
                <td>
                  {{ log }}
                </td>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
        </tbody>

        {% include 'Components/sidemenu.html.twig' %}


    </div>

  {% endblock %}
</html>