<div class="offcanvas offcanvas-start" tabindex="-1" id="sidemenu">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidemenuLabel">{{ id }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <div class="row justify-content-center">
        <div class="col-12">
        <button onclick="location.href = '/information'" type="button" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Informations de compte</button>
        </div>
        <div class="col-12">
        <button type="button" onclick="location.href = '/settings'" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Préferences de compte</button>
        </div>
        <div class="col-12">
        <button onclick="location.href = '/userLogout'" style="margin-bottom: 10px;" type="button" class="btn btn-outline-warning">Déconnexion</button>
        </div>
    </div>
    </div>
</div>