<!DOCTYPE html>
<html>
<head>
    <title>BeWave</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
        {% if modepreference == "lightmode" %}
            <link rel="stylesheet" href="/CSS/stylelight.css"/>
        {% else %}
            <link rel="stylesheet" href="/CSS/styledark.css"/>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% include 'Components/header.html.twig' %}

    {% block content %}{% endblock %}

    {% block javascripts %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
