{% extends 'base.html.twig' %}
{% set modepreference = preference %}

<!DOCTYPE html>
<html>
  {% block content %}
    <div class="container-fluid text-center">
      {% include 'Components/header.html.twig' %}

          <br>
          <h2>
            Contactez nous !
          </h2>
          <br>
          <br>
          <div class="row">
            <div class="col">
            {% if formSend %}
              <h3>{{ formSend }}</h3>
            {% else %}
              {% if id == "unauthentificated" %}
                <h3>Vous devez créer un compte ou vous connecter pour nous contacter !</h3>
              {% else %}
                <form action="/contact" method="post" enctype="application/x-www-form-urlencoded">
                  <br>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}">
                  <input type="hidden" class="form-control" id="sent" name="sent" value="true">
                  <select id="type" name="type" required>
                    <option value="userBug">Bug sur la plateforme</option>
                    <option value="appBug">Bug sur l'application mobile</option>
                    <option value="proposition">Proposition d'amélioration</option>
                  </select>                  
                  <textarea type="text" style="height:30vh;" class="form-control" id="message" name="message" placeholder="Ecrivez votre message" required="true"></textarea>
                  <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Envoyer</button>
                </form>
              {% endif %}
            {% endif %}
            </div>
          </div>

      {% include 'Components/sidemenu.html.twig' %}

  {% endblock %}
</html>