{% extends 'base.html.twig' %}
{% set modepreference = templateVars[1] %}

<!DOCTYPE html>

<html>
  {% block content %}
        <div class="container-fluid text-center">
          <br>
          <h2>
            Remplissez le formulaire pour devenir Bêta tester
          </h2>
          <br>
          <br>
          <div class="row">
            <div class="col">
              <form action="/suscribe" method="post">
                <input type="hidden" class="form-control" id="suscribeBeta" name="suscribeBeta" value="true">

                <input name="firstname" id="firstname" type="text" placeholder="prénom" required/>
                <br><br>
                <input name="name" id="name" type="text" placeholder="nom" required/>
                <br><br>
                <input name="dob" id="dob" type="date" required/>
                <br><br>
                <input name="adress" id="adress" type="text" placeholder="adresse" required/>
                <br><br>
                <input name="phone" id="phone" type="tel" placeholder="phone" required/>
                <br><br>
                <input type="submit" type="button" style="margin-left: 10px;" class="btn btn-outline-success" value="Confirmer"/>
              </form>
            </div>
          </div>
          <br>
          <br>

        {% include 'Components/sidemenu.html.twig' %}
        
      </div>
  {% endblock %}
</html>