{% extends 'base.html.twig' %}

<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet" href="/CSS/homepage.css">
  </head>
    {% block content %}
      <div class="test container-fluid">
        <h1>
          Welcome into the app !
        </h1>
        <br>
        {% if id == "unauthentificated" %}
          <button onclick="location.href = '/login'" type="button" class="btn btn-outline-success">login</button>
        {% else %}
            <h2>
                Welcome {{ id }}
                <br>
                <a href="/userLogout">logout</a>
                <br>
                more stuff here
            </h2>
        {% endif %}
      </div>
    {% endblock %}
</html>