{% extends 'base.html.twig' %}

<!DOCTYPE html>
<html>
  <head>
  </head>
    {% block content %}
      <div class="container-fluid text-center">
        {% include 'Components/header.html.twig' %}

        <div class="row justify-content-center">
          <div class="col-6">
            <form action="/userLogin" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" id="sent" name="sent" value="true"/>
              <div class="mb-3">
                <label for="id" class="form-label">Identifiant (pseudo / @)</label>
                <input type="text" class="form-control" id="id" aria-describedby="idHelp" name="id" required>
                <div id="idHelp" class="form-text">Votre Email ne sera jamais partagé !</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                <label class="form-check-label" for="remember">Se souvenir de moi</label>
              </div>
              <button type="submit" class="btn btn-outline-light">Se connecter</button>
            </form>
          </div>
        </div>
      <div>
    {% endblock %}
</html>