{% extends 'base.html.twig' %}

<!DOCTYPE html>
<html>
  <head>
  </head>
    {% block content %}
      <div class="container-fluid">
        <form action="/userLogin" method="post">
        <div>
          <label for="id">id:</label>
          <input type="text" id="id" name="id" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
        </form>
      <div>
    {% endblock %}
</html>