{% extends 'base.html.twig' %}
{% set modepreference = preference %}

<!DOCTYPE html>

<html>
  {% block content %}

        <div class="container-fluid text-center">
          {% include 'Components/header.html.twig' %}
        
          <h2>
            Page de paramètre de compte utilisateur
          </h2>
          <div class="row">
            <div class="col">
              <div class="row justify-content-center">
                <div class="col-6">
                  <form action="/settingsPreferences" method="post">
                    <div class="mb-3">
                      <label for="colorapp" class="form-label">couleur d'application</label>
                      <select id="colorapp" name="colorapp">
                        <option name="darkmode" value="darkmode">dark mode</option>
                        <option name="lightmode" value="lightmode">light mode</option>
                      </select>
                    </div>
                    {% if templateVars[1] == "lightmode" %}
                      <button type="submit" class="btn btn-outline-dark">Enregistrer</button>
                    {% else %}
                      <button type="submit" class="btn btn-outline-light">Enregistrer</button>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% include 'Components/sidemenu.html.twig' %}

        </div>
  {% endblock %}
</html>