{% set modepreference = templateVars[1] %}

<!DOCTYPE html>

<html>

    <ul>
    {% for user in templateVars[0] %}
        <li>
        {% for value in user %}
            {{ value }}
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
</html>
